<h1>Editing Product</h1>

<%# = render 'form', product: @product %>
<%= render 'form', product: @product %>

<%#= link_to 'Show', @product %> |
<%= link_to 'Show', shop_product_path(@shop, @product) %> |
<%= link_to 'Back', shop_products_path %>
